/*注册
 */
.register {
	background: #fafafa;
	height: 100%;
	width: 100%;
	position: relative;
}
.registerTitle {
	width: 100%;
	height: 2rem;
}
.registerBack {
	height: 2rem;
	width: 2rem;
	position: relative;
	float: left;
}
.registerBack  img {
	width: 0.5833rem;
	height: 1rem;
	position: absolute;
	top: 0.65rem;
	left: 0.75rem;
}
.registerTitle h3 {
	float: left;
	font:0.75rem/2rem "微软雅黑";
	padding-left: 4.6333rem;
	color: #303030;
}
.bLogo {
	height: 2.3rem;
	width: 100%;
	margin-top: 1.96667rem;
	margin-bottom: 1.71667rem;
	
}
.bLogo .logoPic {
	width: 6.9rem;
	height: 2.3rem;
	margin: 0 auto;
	background: url(../img/d-logo.png) no-repeat center center;
	background-size:  100% 100%; 
} 
.registerInput {
	height: 8.75rem;
	padding: 0 0.75rem;
}
.registerInput input {
	display: block;
}
.registerNum {
	width:100%;
	height: 2.48333rem;
	border:1px solid #cacaca;
	border-radius: .3rem ; 
	font: .6333rem/2.48333rem "微软雅黑";
	text-indent: .75rem;
	margin-bottom: 1.25rem;
}
.registerBtn {
	width: 100%;
	height: 2.5rem;
	background: #357bfd;
	text-align: center;
	font: .75rem/2.5rem "微软雅黑";
	text-align: center;
	color: #7cb3ff;
	border-radius: .2rem;
}
.read {
	padding-top:1.05rem;
	font: .65rem/.65rem "微软雅黑";
	color: #939393;
}
.read a {
	color: #93abcd;
	text-decoration: underline;
}

.explain {
	width: 100%;
	height: 3.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}
.explain p {
	font: .66667rem/.66667rem "微软雅黑";
	color: #bbbbbb;
	margin-bottom: .85rem;
}
.explain img {
	height: 1rem;
}