@charset "UTF-8";
/* CSS Document */
html {
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	margin: 0;
/*	overflow: hidden;
*/	background: #efeff7;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	vertical-align: top;
}
h2,
h3 {
	margin: 0;
}
form {
	border: none;
	margin: 0;
}
input {
	border: none;
	padding: 0;
	outline: none;
}
input,
button,
a
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
input,
button {
	-webkit-appearance:none; 
}
.clearFix:after {
	content: "";
	display: block;
	clear: both;
}
.wrap {
	width: 18rem;
}
.wrapCon {
	width: 17.21667rem;
	margin: 0 auto;
}
.clearFix:after {
	content: "";
	display: block;
	clear: both;
}
.header {
	padding: 0.33333rem 0.2rem 1.88333rem 0;
}
.headerLeft {
	float: left;
	width: 6.15rem;
	padding-bottom: .5rem; 
}
.headerLeft a {
	position: relative;
	display: block;
	color: #999;
}
.headerPic {
	display: inline-block;
	position: absolute;
	width: 1.3333rem;
	height: 1.28333rem;
	left: 0;
	top: 0;
}
.headerPic:before {
	content: "";
	position: absolute;
	width: 1.1rem;
	height: 1.08333rem;
	top: 0;
	left: 0;
	background: url(img/baidu.png) no-repeat;
	background-size: 6rem 7rem;
}
.down {
	position: absolute;
	width: .45rem;
	height: 1.28333rem;
	top: 0;
	right: 0;
}
.down:before {
	content: "";
	position: absolute;
	width: .45rem;
	height: .28333rem;
	bottom: .18333rem;
	right: 0;
	background: url(img/baidu.png) no-repeat -4.9rem -1.98333rem;
	background-size: 6rem 7rem;
}
.deg {
	display: block;
	margin-left: 1.3667rem;
	font: 1rem/1.28333rem "宋体";
}
.area {
	position: absolute;
	left: 3.18333rem;
	top: 0;
	width: 2.11667rem;
	font: .5rem/.63333rem "宋体";
}
.air {
	position: absolute;
	left: 3.18333rem;
	top: .63333rem;
	font: .5rem/.63333rem "宋体";
}
.headerRight {
	position: relative;
	float: right;
	width: 3.33333rem;
}
.user {
	position: absolute;
	width: 1.33333rem;
	height: 1.33333rem;
	top: 0;
	right: 2rem;
}
.user:after {
	content: "";
	position: absolute;
	width: .81667rem;
	height: .8rem;
	top: .16667rem;
	right: .23333rem;
	background: url(img/baidu.png) no-repeat -2.16667rem 0;
	background-size: 6rem 7rem;
}
.skin {
	position: absolute;
	width: 1.33333rem;
	height: 1.33333rem;
	top: 0;
	right: 0;
}
.skin:after {
	content: "";
	position: absolute;
	width: .966667rem;
	height: .8rem;
	top: .16667rem;
	right: .23333rem;
	background: url(img/baidu.png) no-repeat -1.15rem 0;
	background-size: 6rem 7rem;
}
.pic {
	padding-bottom: .75rem;
	text-align: center;
}
.pic img {
	width: 8.75rem;
	height: 2.7667rem;
}
.form {
	width: 17rem;
	padding: 0 .1rem;
	height: 2.2rem;
}
.form input {
	float: left;
	width: 12.85rem;
	height: 2.1rem;
	font-size: .7rem;
	border-top: .05px solid #949694;
	border-left: .05px solid #949694;
	border-bottom: .05px solid #bdbebd;
	box-sizing: border-box;
}
.search {
	display: inline-block;
	float: left;
	width: 2.95rem;
	padding: 0 .58333rem .1rem .58333rem;
	font: .73333rem/2.1rem "宋体";
	color: #fff;
	background: #318aff;
}
.meunCon {
	position: relative;
}
.meun {
	padding: .93333rem .18333rem .31667rem .1rem;
}
.meun li {
	float: left;
	width: 2.6rem;
	text-align: center;
	margin: 0  .26667rem 1rem 0;
}
.meun .news {
	position: relative;
	display: inline-block;
	height: 2.3rem;
	width: 1.16667rem;
	font: .56667rem/1.3rem "宋体";
	color: #6b696b;
}
.news img {
	width: 1.16667rem;
	height: 1rem;
}
.more {
	float: left;
	height: 2.3rem;
	width: 1.16667rem;
}
.more a {
	display: inline-block;
	margin-left: .71667rem;
	height: 2.3rem;
	width: 1.16667rem;
	font: .56667rem/1.3rem "宋体";
	color: #6b696b;
}
.more img {
	width: 1.16667rem;
	height: 1rem;
}
.navCon {
	padding-top: .15rem;
	background: #fff;
}
.navCon h2 {
	position: relative;
	font: .7rem/1.6333rem "宋体";
	color: #9c9a9c;
	margin-left: .75rem;
}
.navCon h2 span {
	position: absolute;
	top: .4rem;
	right: .6rem;
	width: 1rem;
	height: 1rem;
}
.navCon h2 span:after {
	content: "";
	position: absolute;
	width: .2rem;
	height: .78333rem;
	top: .11667rem;
	left: .4rem;
	background: url(img/baidu.png) no-repeat -5.2rem 0;
	background-size: 6rem 7rem;
}
.nav li {
	float: left;
	width: 4.3041rem;
	text-align: center;
	margin: .15rem 0 .33333rem 0;
	font: .63333rem/1.6rem "宋体";
}
.nav li a {
	color: #212421;
}
.nav .last {
	position: relative;
}
.nav .last span {
	position: absolute;
	width: 1rem;
	height: 1rem;
	top: .35rem;
	right: -2.65rem;
}
.nav .last span:after {
	content: "";
	position: absolute;
	width: .9rem;
	height: .9rem;
	top: .05rem;
	left: .05rem;
	background: url(img/baidu.png) no-repeat -4.25rem 0;
	background-size: 6rem 7rem;
}

.hot {
	position: relative;
	margin-top: .4rem;
	background: #fff;
}
.hotTitle h2 {
	float: left;
	font: .7rem/1.9333rem "宋体";
	color: #9c9a9c;
	margin-left: .7667rem;
}
.hotPic {
	content: "";
	position: absolute;
	top: .4rem;
	right: .6rem;
	width: 1rem;
	height: 1rem;
}
.hotPic:after {
	content: "";
	position: absolute;
	width: .2rem;
	height: .78333rem;
	top: .11667rem;
	left: .4rem;
	background: url(img/baidu.png) no-repeat -5.2rem 0;
	background-size: 6rem 7rem;
}
.hotTitle .change {
	float: right;
	position: relative;
	margin-right: 2.81667rem;
	width: 2.05rem;
	padding-bottom: .16667rem;
	font: .6333rem/1.76667rem "宋体";
}
.hotTitle .change a {
	color: #9c9a9c;
}
.forward {
	display: inline-block;
	position: absolute;
	width: .7rem;
	height: .71667rem;
	top: .5rem;
	left: -1.1rem;
}
.forward:after {
	content: "";
	position: absolute;
	width: .7rem;
	height: .71667rem;
	background: url(img/baidu.png) no-repeat -2.15rem -1.16667rem;
	background-size: 6rem 7rem;
}
.backward {
	content: "";
	position: absolute;
	display: inline-block;
	width: .05rem;
	height: .7rem;
	top: .65rem;
	right: -.7rem;
}
.backward:after {
	content: "";
	position: absolute;
	width: .05rem;
	height: .7rem;
	background: url(img/baidu.png) no-repeat -5.45rem 0;
	background-size: 6rem 7rem;
}
.hotList {
	padding-bottom: .33333rem;
	border-bottom: .05rem solid #f7f7f7;
}
.hotList li {
	font: .63333rem/1.5667rem "宋体";
}
.hotList li a {
	position: relative;
	display: block;
	color: #212421;
}
.hotList li span {
	position: absolute;
	width: .76667rem;
	height: .56667rem;
	top: .18333rem;
}
.hotList li span:after {
	content: "";
	position: absolute;
	width: .76667rem;
	height: .56667rem;
	background: url(img/baidu.png) no-repeat -2.9rem -1.16667rem;
	background-size: 6rem 7rem;
}
.hotLeft {
	float: left;
	width: 6.33333rem;
	margin: 0 1.6rem 0 .71667rem;
}
.hotRight {
	float: right;
	width: 6.33333rem;
	margin-right: 1.51667rem;
}
.first {
	font: .63333rem/1.6rem "宋体";
	margin-bottom: .516667rem;
}
.rank {
	padding-bottom: 0.06667rem;
	font: .63333rem/2.08333rem "宋体";
	text-align: right;
	margin-right: .9rem; 
}
.rank a {
	color: #005dd6;
}
.recommendList {
	margin: 0 .6rem 0 .6rem;
}
.recommendList li {
	width: 16rem;
	border-bottom: .05rem solid #f7f7f7;
}
.listFirst {
	padding-top: .38333rem; 
}
.listFirst a {
	color: #212421;
}
.listFirst .img {
	float: left;
	width: 4.15rem;
	height: 2.5rem;
	margin-left: .1rem;
}
.information {
	float: left;
	width: 10.5rem;
	margin-left: .53333rem;
	font: .7rem/.91667rem "宋体"; 
}
.information time {
	display: block;
	color: #bdbabd;
	font: .6rem/1.31667rem "宋体";
}
.recommendListCon {
	float: left;
	position: relative;
	font: .7rem/1.86667rem "宋体";
	padding-bottom: .18333rem;
	text-indent: .16667rem;
	padding-right: 3rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 13rem;
}
.recommendListCon a {
	color: #212421;
}

.recommendListCon time {
	position: absolute;
	width: 3rem;
	padding-top: .1rem;
	font: .6rem/1.76667rem "宋体";
	margin-right: .1rem;
	color: #9c9a9c;
}
.service {
	margin-top: .4rem; 
	background: #fff;
}
.service h3 {
	position: relative;
	font: .63333rem/1.83333rem "宋体";
	color: #212421;
	margin-left: .73333rem;
}
.dingwei {
	position: absolute;
	width: 3.5rem;
	height: 1.5rem;
	top: .23333rem;
	right: .7rem;
	background: url(img/baidu.png) no-repeat 0 -5.31667rem;
	background-size: 6rem 7rem;
}
.serviceList {
	padding: .21667rem 0 .83333rem 0;
	border-bottom: .05rem solid #f7f3f7;
}
.serviceList li {
	float: left;
	width: 4.3rem;
	padding-top: .38333rem;
	text-align: center;
}
.serviceList li a {
	display: inline-block;
	position: relative;
	width: 2.1rem;
	height: 1.06667rem;
	padding-top: 2.1rem;
	font: .66667rem/1.06667rem "宋体";
	color: #212421;
}
.serviceList li a:before {
	content: "";
	position: absolute;
	width: 2.1rem;
	height: 2.1rem;
	left: 0;
	top: 0;
	background: url(img/baidu.png) no-repeat 0 -1.16667rem;
	background-size:6rem 7rem;
}
.total {
	text-align: center;
	position: relative;
	padding-top: .66667rem;
	font: .73333rem/.96667rem "宋体";
}
.total a {
	color: #212421;
}
.total a:after {
	content: "";
	position: absolute;
	width: .61667rem;
	height: .36667rem;
	bottom: .2333rem;
	margin-left: .63333rem;
	background: url(img/baidu.png) no-repeat -3.71667rem -1.16667rem;
	background-size:6rem 7rem;
}
.goods img {
	float: left;
	display: block;
	margin-left: .9rem;
	width: 4.05rem;
	height: 3.8rem;
}
.goodsIntroduce {
	display: block;
	float: left;
	width: 11.7rem;
}
.goods .introduce {
	display: inline-block;
	font: .73333rem/1.53333rem "宋体";
	color: #313031;
	text-indent: 1rem;
}
.goods .price {
	display: inline-block;
	text-indent: 1rem;
	font: 1rem/1.5rem "宋体";
	color: #737573;
}
.goods .price span {
	font-size: .6rem;
	text-decoration: line-through;
}

.goodsIntroduce .jingdong {
	position: relative;
	display: inline-block;
	padding-top: .96667rem;
	padding-left: 10.4333rem;
	font: .56667rem/1.3rem "宋体";
	color: #737573;
}
.goodsIntroduce .jingdong:before {
	content: "";
	position: absolute;
	width: 4.5rem;
	height: 1.85rem;
	top: -.13333rem;
	right: 6.4rem; 
	background: url(img/baidu.png) no-repeat 0 -3.36667rem;
	background-size:6rem 7rem;
}
.market {
/*	padding-top: .66667rem;
*/}
.market li {
	float: left;
	width: 4.3rem;
	text-align: center;
	font: .63333rem/1.9333rem "宋体";
}
.market li a {
	color: #212421;
}
.shoppingMore {
	padding-bottom: .68333rem;
	margin-right: .85rem;
	font: .63333rem/1.2333rem "宋体";
	text-align: right;
}
.shoppingMore a {
	color: #1869d6;
}
.trafficCon {
	padding: .56667rem 0 1.78333rem 0;
	font: .7rem/1.2rem "宋体";
	text-align: center;
	color: #212421;
}
.trafficCon .address a {
	color: #0861d6;
}
.manage {
	margin-top: .05rem;
	padding-bottom: .18333rem;
	background: #fff;
	font: .63333rem/2.06667rem "宋体";
	text-align: center;
}
.manage a {
	color: #212421;
}
.help {
	padding-left: 1rem;
	
}
.help li {
	position: relative;
	padding-bottom: .15rem;
	width: 11.9rem;
	text-indent: 1.08333rem;
	font: .6rem/1.5rem "宋体";
	color: #525552;
}
.help li:before {
	content: "";
	position: absolute;
	width: .78333rem;
	height: .53333rem;
	top: 0.45rem;
	left: .3rem;
	background: url(img/baidu.png) no-repeat -3.58333rem -5.31667rem;
	background-size: 6rem 7rem;
}
.footer {
	margin: .8333rem 0 .68333rem 0;
	text-align: center;
}
.feedback {
	font: .6rem/2.33333rem "宋体";
}
.feedback a {
	position: relative;
	color: #636563;
}
.feedback a:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: .76667rem;
	height: .65rem;
	top: 0;
	left: -1.05rem;
	background: url(img/baidu.png) no-repeat -4.3833rem -1.16667rem;
	background-size: 6rem 7rem;
}
.certificate {
	font: .56667rem/1.1rem "宋体";
	color: #9c9a9c;
}
.public {
	position: relative;
	font: .56667rem/1.1rem "宋体";
	color: #9c9a9c;
}
.public:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: .6rem;
	height: .6rem;
	top: .25rem;
	left: 4.1rem;
	background: url(img/baidu.png) no-repeat -4.25rem -1.98333rem;
	background-size: 6rem 7rem;
}